<settings xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://maven.apache.org/POM/4.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
   <!--
      ** Choose the location of you Maven Local repository **
   -->
	<localRepository>${user.home}/EDS-maven-repository</localRepository>
   <!--
      ...................................................................
   -->
   <mirrors>
      <mirror>
         <id>odyssey-group.com</id>
         <name>Odyssey Maven Repository</name>
			<url>http://maven.oams.com/content/groups/all</url>
         <mirrorOf>*</mirrorOf>
      </mirror>
      <mirror>
         <id>p2</id>
         <name>Odyssey p2 Repository</name>
	 <url>http://p2.oams.com/dependencies/7.0</url>
         <mirrorOf>*</mirrorOf>
	 <mirrorOfLayouts>p2</mirrorOfLayouts>
      </mirror>
   </mirrors>
   <!--
      ...................................................................
      The following profiles are deprecated:
      
      - DefaultRepository will be part of ODP
      - Jdks is replaced by toolchains mechanism
      
      They are activated until everyone has installed 
      this EDS version.
      Then those two profiles will become obsolete.
   -->
	<profiles>
		<profile>
			<id>DefaultRepository</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>

			<repositories>
				<repository>
					<id>odyssey-group.com</id>
					<name>Odyssey Maven Repository</name>
					<releases><enabled>true</enabled></releases>
					<snapshots><enabled>true</enabled></snapshots>
					<url>http://maven.oams.com/content/groups/odyssey</url>
				</repository>
				<repository>
					<id>temenos.com</id>
					<name>T24 Repository</name>
					<releases><enabled>true</enabled></releases>
					<snapshots><enabled>true</enabled></snapshots>
					<url>http://maven.oams.com/content/groups/t24</url>
				</repository>
				<repository>
					<id>central</id>
					<url>http://central</url>
					<releases><enabled>true</enabled></releases>
					<snapshots><enabled>true</enabled></snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>odyssey-group.com</id>
					<name>Odyssey Maven Repository</name>
					<releases><enabled>true</enabled></releases>
					<snapshots><enabled>true</enabled></snapshots>
					<url>http://maven.oams.com/content/groups/odyssey</url>
				</pluginRepository>
				<pluginRepository>
					<id>temenos.com</id>
					<name>T24 Repository</name>
					<releases><enabled>true</enabled></releases>
					<snapshots><enabled>true</enabled></snapshots>
					<url>http://maven.oams.com/content/groups/t24</url>
				</pluginRepository>
				<pluginRepository>
					<id>central</id>
					<url>http://central</url>
					<releases><enabled>true</enabled></releases>
					<snapshots><enabled>true</enabled></snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		
		<profile>
			<id>Jdks</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<JAVA_1_4_HOME>C:\EDS\java\jdk1.4</JAVA_1_4_HOME>
				<JAVAC_1_4>C:\EDS\java\jdk1.4\bin\javac.exe</JAVAC_1_4>
				<JAVADOC_1_4>C:\EDS\java\jdk1.4\bin\javadoc.exe</JAVADOC_1_4>

				<JAVA_1_6_HOME>C:\EDS\java\jdk1.6</JAVA_1_6_HOME>
				<JAVAC_1_6>C:\EDS\java\jdk1.6\bin\javac.exe</JAVAC_1_6>
				<JAVADOC_1_6>C:\EDS\java\jdk1.6\bin\javadoc.exe</JAVADOC_1_6>

				<DS_JRE_HOME>C:\EDS\1.30.5\DesignStudio\jre</DS_JRE_HOME>
			</properties>
		</profile>
	</profiles>
	
   <pluginGroups>
      <pluginGroup>com.odcgroup.maven.plugin</pluginGroup>
   </pluginGroups>
   <!--
      ...................................................................
   -->
</settings>
