/cf-wsjavaclient/target
/ofsconn-appsrv-provider-test/target
/ofsconn-standalone-ejb-test/target
/ofsconn-standalone-provider-tafc-customCXManager-test/target
/ofsconn-standalone-provider-tafc-test/target
/ofsconn-standalone-provider-test/target
/ofsconn-standalone-test/target
velocity.log*
build
dist
log
publish
trace.db
generated
.settings
