
/ofsconn-appsrv-provider-test/target
/ofs-connector/target
/ofs-connector/src/generated
/ofsconnector-component/src/generated
/ofsconnector-parent/target
/ofsconn-standalone-provider-test/target
/ofsconn-standalone-test/target
velocity.log*
build
dist
trace.db
generated
